/*@import url("normalize.css");*/

/**{margin:0; padding:0}*/
body, html{
    background: #EEE;
/*    background: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 1em;*/
    /*text-align: center;*/

}

h3 {
    display: inline;
}

a{
    text-decoration: none;
}

.cerrarS,.descargas{
    color:black;
}

.cerrarS:hover, .descargas:hover{
    color: #23ab8e;
}